<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if task_one %}
    <h1>{{ task_one.title }}</h1>
    <p>{{ task_one.description }}</p>
    <form action="{{ url_for('tasks.update_task', id=task_one.id) }}" method="POST">
        <label>Заголовок:</label><input name="title"><br>
        <label>Описание:</label><input name="description"><br>
        <button>Обновить</button>
    </form>
{% else %}
    <h1>404 Page not found</h1>
{% endif %}
</body>
</html>